<template>
  <div>
    <p>直近5年間の都道府県別全国高校野球選手権大会出場校の表示</p>
      <select id = "selected">
        <option v-for = "kenbetu in kenbetu" :key = "kenbetu.value" v-bind:value = "kenbetu.value">{{ kenbetu.text }}</option>
      </select>
    <button type = "button" @click = "onClick">検索</button>
    <table v-for = "select_data in select_data" :key = "select_data.id">
      <tbody>
        <tr><th>年度</th><td>高校名</td></tr>
        <tr><th>都道府県</th><td>{{ select_data.都道府県 }}</td></tr>
        <tr><th>2015年</th><td>{{ select_data["2015年"] }}</td></tr>
        <tr><th>2016年</th><td>{{ select_data["2016年"] }}</td></tr>
        <tr><th>2017年</th><td>{{ select_data["2017年"] }}</td></tr>
        <tr><th>2018年</th><td>{{ select_data["2018年"] }}<br>{{ select_data["2018年(2)"] }}</td></tr>
        <tr><th>2019年</th><td>{{ select_data["2019年"] }}</td></tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Axios from "axios"
export default {
  mounted:function(){
    Axios.get('http://localhost:5000/')
      .then(response => {
        this.db_data = response.data
      })
      .catch(error => {
        console.log(error)
      })
  },
  data(){
    return {
      kenbetu:[ 
        {text:'北北海道',value:0},
        {text:'南北海道',value:1},
        {text:'青森県',value:2},
        {text:'岩手県',value:3},
        {text:'宮城県',value:4},
        {text:'秋田県',value:5},
        {text:'山形県',value:6},
        {text:'福島県',value:7},
        {text:'茨城県',value:8},
        {text:'栃木県',value:9},
        {text:'群馬県',value:10},
        {text:'埼玉県',value:11},
        {text:'千葉県',value:12},
        {text:'東東京都',value:13},
        {text:'西東京都',value:14},
        {text:'神奈川県',value:15},
        {text:'山梨県',value:16},
        {text:'新潟県',value:17},
        {text:'富山県',value:18},
        {text:'石川県',value:19},
        {text:'福井県',value:20},
        {text:'長野県',value:21},
        {text:'岐阜県',value:22},
        {text:'静岡県',value:23},
        {text:'愛知県',value:24},
        {text:'三重県',value:25},
        {text:'滋賀県',value:26},
        {text:'京都府',value:27},
        {text:'大阪府',value:28},
        {text:'兵庫県',value:29},
        {text:'奈良県',value:30},
        {text:'和歌山県',value:31},
        {text:'鳥取県',value:32},
        {text:'島根県',value:33},
        {text:'岡山県',value:34},
        {text:'広島県',value:35},
        {text:'山口県',value:36},
        {text:'徳島県',value:37},
        {text:'香川県',value:38},
        {text:'愛媛県',value:39},
        {text:'高知県',value:40},
        {text:'福岡県',value:41},
        {text:'佐賀県',value:42},
        {text:'長崎県',value:43},
        {text:'熊本県',value:44},
        {text:'大分県',value:45},
        {text:'宮崎県',value:46},
        {text:'鹿児島県',value:47},
        {text:'沖縄県',value:48}
      ],
      select_data:[]
    }
  },
  methods:{
    onClick:function(){
      var todofuken_value = document.getElementById ("selected").value;{
        for(var i = 0; i <= 48; i++){
          if(i = todofuken_value){
            this.select_data.splice(0, this.select_data.length);
            this.select_data.push({
              id:this.db_data[i].id,
              都道府県:this.db_data[i].都道府県,
              "2015年":this.db_data[i]["2015年"],
              "2016年":this.db_data[i]["2016年"],
              "2017年":this.db_data[i]["2017年"],
              "2018年":this.db_data[i]["2018年"],
              "2018年(2)":this.db_data[i]["2018年(2)"],
              "2019年":this.db_data[i]["2019年"]
            });
            break;
          }
        }
      }
    }
  }
}
</script>

<style>
  table{
      border-collapse: collapse;
    }
  table *{
      border: 1px #000 solid;
      width:120px;
    }
  th{
      font-weight: normal;
      text-align: center;
    }
  td{
    text-align: center;
  }
</style>